* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    left: 0;
    background-color: #F7F7F7;
}

.layout {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #FFEBF1;
    text-align: center;
    z-index: 1000;
}


#TrangChu {
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    margin: 0;
}

#TrangChu>li {
    width: 100%;
    list-style-type: none;
}

#TrangChu li a {
    text-decoration: none;
    color: black;
}

#TrangChu li a:hover {
    text-decoration: underline;
}

#icon {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    align-items: center;

}

#icon>#icon1 {
    display: flex;
    align-items: center;
}

#icon1 span {
    margin-right: 5px;
}

#icon>h1 {
    margin-left: 10px;
}

#icon1 img,
#icon2 img {
    width: 35px;
    height: 35px;
    margin: 2px;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 10px 0;
    border-radius: 20px;
}

#menu>li {
    width: 144px;
    height: 70px;
    list-style-type: none;
    margin: 10px;
    line-height: 70px;
    text-align: center;
    background-color: #FFDCE6;
    border-radius: 5px;
}

#menu>li:hover {
    color: white;
    text-decoration: underline;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    text-decoration: underline;
    color: white;
}

#banner img {
    width: 100%;
    height: auto
}

#menu2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin: 10px 0;
    border-radius: 20px;
    height: 95px;
}

#menu2>li {
    list-style-type: none;
    width: 300px;
    height: 70px;
    margin: 10px;
    line-height: 70px;
    text-align: center;
    background-color: #FFCDE6;
    border-radius: 5px;
}

#menu2>li:hover {
    text-decoration: underline;
    color: white;
}

#Quangcao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
}

#Quangcao img {
    width: 800px;
    height: 300px;
    margin: 20px;
}

h3 {
    text-align: center;
}

.section1 {
    background-color: white;
    height: 550px;
    margin: 20px 0;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.sanpham {
    width: 250px;
    height: 380px;
    background-color: #FFDCE6;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sanpham img {
    margin-top: 15px;
    margin-left: 15px;
    width: 220px;
    height: 220px;
}

.sanpham p {
    line-height: 30px;
}

.Gia {
    text-align: center;
}

.DH {
    text-align: center;
    width: 100px;
    height: 40px;
    margin-top: 2px;
    margin-left: 75px;
    background-color: #E6ACBC;
    border-radius: 5px;
}

.DH>a {
    line-height: 40px;
    text-decoration: none;
    color: black;
}

.DH>a:hover {
    color: white;
    text-decoration: underline;
}

.Xemthem {
    margin-left: 520px;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: #E6ACBC;
    margin-bottom: 35px;
    border-radius: 5px;
}

.Xemthem a {
    line-height: 40px;
    text-decoration: none;
    color: black;
    font-size: large;
}

.Xemthem a:hover {
    text-decoration: underline;
    color: white;

}

footer {
    margin: 0 auto;
    width: 100%;
    min-height: 400px;
    background-color: #E6ACBC;
    margin-top: 60px;
}

footer section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
footer .ccv {
    padding-top: 50px;
}

footer div {
    padding: 30px 0px;
    margin: 0px 30px;
}
.ccv {
    width: 100%;
    max-width: 430px;
}

footer div p {
    line-height: 40px;
    font-size: 17px;
}

footer div p a {
    color: black;
    text-decoration: none;
}
footer div p img {
    width: 18px;
    height: 18px;
}


.fb-page-container {
    margin-top: 40px;
    width: 100%;
    max-width: 390px;

}

footer iframe {
    width: 300px;
    height: 150px;
    border: 0;
    margin: 0 auto;
}

footer div img {
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

#map {
    margin-top: 30px;
    margin-left: 25px;
}

.tim {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.tim li {
    list-style-type: none;
    line-height: 30px;
}

.tim li a {
    color: black;
    text-decoration: none;
    font-size: 13.5px;
    text-align: justify;
}

.tim li a:hover {
    color: black;
    text-decoration: underline;
    font-size: 14px;
}

hr {
    color: black;
    box-shadow: 0 0 2px black;
}

footer div h3 {
    text-align: left;
}

.map {
    margin-top: 40px;
    width: 100%;
    max-width: 370px;
}
